/* Document */
*{box-sizing:border-box;}
body, html{padding:0;margin:0;}
body{
	font-family:Helvetica, Sans-Serif;
	text-shadow:0px 1px 1px #fff;
	font-size:13px;
	color:#333;
	background:#f9f9f9;
}
#container{
	width:90%;
	max-width:700px;
	margin:10px auto;
	padding:20px;
}
#overlay{
	position:fixed;
	z-index:0;
	top:0;left:0;right:0;bottom:0;
	background:rgba(0, 0, 0, 0.5);
}
#overlay, .previews{
	display:none;
}
/* Header */
header{
	position:relative;
}
header h1{
	margin:5px 0;
	background:#eee;
	box-shadow:inset 0px 0px 5px #ddd;
	padding:5px;
	font-size:24px;
}
header span{
	position:absolute;
	top:12px;
	right:10px;
	font-weight:bold;
	color:#666;
}
/* Main */
main{

}
/* Dropzone */
.dz-message span{
	/* Text inside Dropzone */
	font-weight:bold;
	font-size:24px;
	color:#999;
	text-shadow:0px 0px 50px #ddd;
	text-shadow:0px 1px 1px #fff;
}
.previews{
	position:fixed;
	z-index:2;
	width:700px;
	min-height:200px;
	left:50%;
	margin-left:-350px; /* Half of width */
	top:35px;
	background:#eee;
	padding:20px;
	box-shadow:inset 0px 0px 5px #ddd;
}
/* Animations */
@keyframes animateBorder {
  to {
    outline-color: #EA3556;
    box-shadow: 0 0 0 6px yellow;
  }
}
